{% extends 'online_catalogue_app/html/base.html' %}


{% block title %}
     <title>Bosses List</title>
{% endblock %}

{% block content %}

<h2 style="text-align: center">Employee list</h2> <br>

        {% include 'online_catalogue_app/html/sort.html' %}

    <ul style="margin-left: 50px;">
        <li><a href="{% url 'main:display_employee_full_info' %}" style="color: black">See all details</a></li>
    </ul>


<table class="table" style="margin: 0 100px">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Full name</th>
      <th scope="col">Position</th>
      <th scope="col">Boss's Full name</th>
    </tr>
  </thead>
  <tbody>
    {% for emp in query_results %}
    <tr>
      <th scope="row">{{ emp.id}}</th>
      <td>{{ emp.emp_full_name|slice:":255" }}</td>
      <td>{{ emp.position|slice:":255" }}</td>
      <td>{{ emp.boss_name_id|slice:":255" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

